accelerate
albumentations
anthropic
bayesian-optimization
bayespy
biopython
catboost
cython
dacite
datasets
efficientnet-pytorch
evaluate
fastai
faust-cchardet
gym
h5py
hmmlearn
hyperopt
imagecodecs
imbalanced-learn
imgaug
implicit
ipykernel
ipython
jsonlines
kaggle
keras
kornia
langchain-anthropic
langchain
levenshtein
librosa
lightgbm
markovify
matplotlib
nbformat
networkx
nltk
numba
numpy
ogb
openai
opencv-python
optuna
pandas
pdf2image
peft
pillow
plotly
py7zr
pyarrow
pydicom
pyocr
pyparsing
pypdf
pytest
pytorch-lightning
pytz
pyyaml
resampy
rouge-score
sacrebleu
scikit-image
scikit-learn
scikit-optimize
scikit-surprise
scipy
seaborn
segmentation-models-pytorch
sentence-transformers
sentencepiece
sklearn-pandas
spacy
sympy
tensorflow-hub
tensorflow
tensorpack
tf-keras
tiktoken
timm
torch-geometric
torch
torchaudio
torchinfo
torchmetrics
torchtext
torchvision
tqdm
transformers
xgboost
xlrd
python-dotenv
litellm
nbclient
diskcache
appdirs
optuna-integration
deepchem
rdkit
